extends ../../../core/client/views/layout

block page
  - var menu = 'calibrates'
block content
  div
    h3='Listing from ECMS location table'
    - if (locations.length) {
    table.table
      tr
        th id
        th desc
      each location in locations
        tr
          td= location.id
          td= location.desc
    - }