.gray {
  color: gray;
}
.italic-small {
  font-style: italic;
  font-size: 8pt;
}
.floatright {
  float: right;
}
.right {
  text-align: right;
}
.nopad {
  padding: 0px !important;
}
.inline-block {
  display: inline-block !important;
  width: auto;
}