doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Document
    body
        h3=articles.title
        table
            tr
                th Id
                th Title
                th Article
            - if (articles.length) {
            each article in articles
                tr
                    td= article.id
                    td= article.title
                    td= article.content
            - }