doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Document
    body
        | Mantis Bug Project
        table
            tr
                th Id
                th projectId
                th Summary
            - if (rows.length) {
            each row in rows
                tr
                    td= row.id
                    td= row.project_id
                    td= row.summary
            - }