doctype html
html(lang='en')
  head
    meta(charset='UTF-8', name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel='stylesheet', type='text/css', href='/css/core.css')
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
  body
    #wrap
      .container
        h1 Manuke application
        h2 #{title} application
        span Environment: #{env}
        block header
        div.container-fluid
          block page
        block nav
          div
            include includes/menu
        .content
          br
          block content
          br
          br
          span.alert-success Tervetuloa, Välkommen, Velkommen, Bienvenue, Welcome, Willkommen !
    block footer
      footer
        .container.floatright.right.italic-small.nopad.gray.inline-block
          p
          | Made from Helsinki with love Copyright &copy; ZeTekLA 2016 | Issues? Submit to &nbsp;
          a(href="https://github.com/zenithtekla/NodeMySQL") GitHub
          | .
    // bower:js
    script(src='/lib/jquery/dist/jquery.min.js')
    script(src='/lib/angular/angular.min.js')
    script(src='/lib/tether/dist/js/tether.min.js')
    script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
    script(src='/lib/angular-animate/angular-animate.min.js')
    script(src='/lib/angular-cookies/angular-cookies.min.js')
    script(src='/lib/angular-resource/angular-resource.min.js')
    script(src='/lib/angular-ui-router/release/angular-ui-router.min.js')
    script(src='/lib/angular-route/angular-route.min.js')
    script(src='/lib/angular-sanitize/angular-sanitize.min.js')
    script(src='/lib/angular-touch/angular-touch.min.js')
    script(src='/lib/lodash/dist/lodash.min.js')
    script(src='/lib/angular-bootstrap/ui-bootstrap-tpls.js')