.menu
  ul.nav.nav-pills
    li.nav-item
      a.nav-link(href='/', class=(menu === 'index') ? 'active' : '') Home
    li.nav-item
      a.nav-link(href='/article', class=(menu === 'article') ? 'active' : '') Article
    li.nav-item
      a.nav-link(href='/chat', class=(menu === 'chat') ? 'active' : '') Chat
    li.nav-item
      a.nav-link(href='/xt_syncs/assembly', class=(menu === 'xt_syncs') ? 'active' : '') XT_Syncs
    li.nav-item.dropdown
      a.nav-link.dropdown-toggle(href='#', data-toggle="dropdown", role="button", class=(menu === 'calibrates') ? 'active' : '') Calibrates
      div.dropdown-menu
        a.dropdown-item(href='/calibrates/equipment') List
        a.dropdown-item(href='#') Create
        div.dropdown-divider
        a.dropdown-item(href='/calibrates/table_main') View Main table
        a.dropdown-item(href='/calibrates/table_equipment') View Equipment table
        a.dropdown-item(href='/calibrates/table_location') View Location table
    li.nav-item
      a.nav-link(href='/query_approvals/pending_queries', class=(menu === 'query_approvals') ? 'active' : '') Pending_Queries
    li.nav-item
      a.nav-link(href='/todos/tasks', class=(menu === 'todos') ? 'active' : '') Tasks
    li.nav-item
      a.nav-link(href='/services/api/work_order/191915a', class=(menu === 'services') ? 'active' : '') Services
    if (admin)
      li.nav-item
        a.nav-link(href="/post", class=(menu === 'post') ? 'active' : '') Post
      li.nav-item
        a.nav-link(href="/admin", class=(menu === 'admin') ? 'active' : '') Admin
      li.nav-item
        a.nav-link(href="/logout") Log out
    else
      li.nav-item
        a.nav-link(href='/login', class=(menu === 'login')? 'active' : '') Log in
      li.nav-item
        a.nav-link(href='/auth/twitter') Sign in with Twitter