.menu
  ul.nav.nav-pills
    li.nav-item
      a.nav-link(href='/', class=(menu === 'index') ? 'active' : '') Home
    li.nav-item
      a.nav-link(href='/article', class=(menu === 'article') ? 'active' : '') Article
    li.nav-item
      a.nav-link(href='/chat', class=(menu === 'chat') ? 'active' : '') Chat
    li.nav-item
      a.nav-link(href='/xt_syncs/assembly', class=(menu === 'xt_syncs') ? 'active' : '') XT_Syncs
    li.nav-item
      a.nav-link(href='/calibrates', class=(menu === 'calibrates') ? 'active' : '') Calibrates
    li.nav-item
      a.nav-link(href='/query_approvals/pending_queries', class=(menu === 'query_approvals') ? 'active' : '') Pending_Queries
    li.nav-item
      a.nav-link(href='/todos/tasks', class=(menu === 'todos') ? 'active' : '') Tasks
    li.nav-item
      a.nav-link(href='/services/api/work_order/191915a', class=(menu === 'services') ? 'active' : '') Services
    if (admin)
      li.nav-item
        a.nav-link(href="/post", class=(menu === 'post') ? 'active' : '') Post
      li.nav-item
        a.nav-link(href="/admin", class=(menu === 'admin') ? 'active' : '') Admin
      li.nav-item
        a.nav-link(href="/logout") Log out
    else
      li.nav-item
        a.nav-link(href='/login', class=(menu === 'login')? 'active' : '') Log in
      li.nav-item
        a.nav-link(href='/auth/twitter') Sign in with Twitter