<div class="menu">
<ul class="nav nav-pills">
<li class="nav-item"><a ui-sref-active='active' ui‐sref="/" class="nav-link">Home</a></li>
<li class="nav-item"><a ui-sref-active='active' ui‐sref="/article" class="nav-link">Article</a></li>
<li class="nav-item"><a ui-sref-active='active' ui‐sref="/chat" class="nav-link">Chat</a></li>
<li class="nav-item"><a ui-sref-active='active' ui‐sref="/xt_syncs/assembly" class="nav-link">XT_Syncs</a></li>
<li class="nav-item dropdown"><a ui-sref-active='active' ui‐sref="#" data-toggle="dropdown" role="button" class="nav-link dropdown-toggle">Calibrates</a>
<div class="dropdown-menu"><a ui-sref-active='active' ui‐sref="/calibrates/equipment" class="dropdown-item">List</a><a ui‐sref="#" class="dropdown-item">Create</a>
<div class="dropdown-divider"></div><a ui‐sref="/calibrates/table_main" class="dropdown-item">View Main table</a><a ui‐sref="/calibrates/table_equipment" class="dropdown-item">View Equipment table</a><a ui‐sref="/calibrates/table_location" class="dropdown-item">View Location table</a>
</div>
</li>
<li class="nav-item"><a ui-sref-active='active' ui‐sref="/query_approvals/pending_queries" class="nav-link">Pending_Queries</a></li>
<li class="nav-item"><a ui-sref-active='active' ui‐sref="/todos/tasks" class="nav-link">Tasks</a></li>
<li class="nav-item"><a ui-sref-active='active' ui‐sref="/services/api/work_order/191915a" class="nav-link">Services</a></li>
<li class="nav-item"><a ui-sref-active='active' ui‐sref="/login" class="nav-link">Log in</a></li>
<li class="nav-item"><a ui-sref-active='active' ui‐sref="/auth/twitter" class="nav-link">Sign in with Twitter</a></li>
</ul>
</div>